
.text-muted {
  margin-bottom: 1rem;
  color: #6c757d;
}

.logo {
  margin-top: 80px;
}

.logo img {
  width: 150px;
  height: 100px;
  margin-left: 60px;
}
.subscribe h4 {
  margin-top: 20px;
  color: white;
  padding-right: 290px;
 
}

.contact-item {
  display: flex;
  align-items: start;
}
.contact-item svg {
  margin-right: 10px; /* Adjust the margin as per your requirement */
}


.footer {
  width: 100%;
  position: center;
  padding: 20px;
  height: auto;
  background-color: rgb(0, 0, 0);
}
.footer .col ,
.footer .col1 ,
.footer .col2 ,
.footer .col3  {
  width: 250px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
  margin-left: 50px;
}
.footer .col h1,
.footer .col1 h1,
.footer .col2 h1,
.footer .col3 h1 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 70px;
  color: rgb(245, 244, 243);
  font-weight: bold;
  text-transform: uppercase;
}
.footer .col ul,
.footer .col1 ul,
.footer .col2 ul,
.footer .col3 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li,
.footer .col1 ul li,
.footer .col2 ul li,
.footer .col3 ul li {
  color: #999999;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.footer .col ul li:hover,
.footer .col1 ul li:hover,
.footer .col2 ul li:hover,
.footer .col3 ul li:hover {
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}

.clearfix {
  clear: both;
}

.foot {
  border-top: 1px solid #e2e2e2;
  align-items: center;
}



@media (min-width: 768px) {
  .col-md-3 {
    margin-top: 2rem;
  }
}

/* Keyframes for animation */
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Media Queries */
@media (max-width: 768px) {
  .navbar-nav .nav-link {
    margin-left: 0;
  }

  .logo {
    flex-direction: column;
    align-items: center;
  }

  .logo img {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .email {
    max-width: 100%;
  }

  .custom-padding {
    padding-left: 20px;
  }

  .custom-padding-left {
    padding-left: 20px;
  }
}

@media (max-width: 410px) {
  .subscribe h4 {
    padding-right: 0px;
   
  }
}


